/* styles.css */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, white 50%, black 50%);
  font-family: Montserrat Black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Center content horizontally */
}

/* Header Styles */
header {
  background: white;
  text-align: center;
  padding: 40px; /* Increase the header size */
  position: relative;
  flex: 1;
  display: flex; /* Allow for vertical alignment */
  align-items: center; /* Center content vertically */
}

h1 {
  font-size: 28px; /* Increase the font size */
}

/* Animated Dice Image Styles */
.dice-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* Button Container Styles */
.button-container {
  background: black;
  text-align: center;
  padding: 20px;
  flex: 1;
}

/* Button Styles */
.button-container button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: white;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
